.main-header{
    box-sizing: border-box;
    position: -webkit-sticky ;
    z-index: 10;
    margin: 0 auto;
    width:100%;
    height: 105px;
    background: rgba($color: #432A1C, $alpha: 0.9) ;
    &__icon{
        float:left;
        margin-left: 80px;
        a{
            display: flex;
            img{
                margin-top: -15px;
            }
            h5{
                color:#f2dfd0;
                font-weight: bold;
                font-size: 25px;
                margin-top: 30px;
                margin-left: 10px;
            }
        }  
    }

    &__search{
        margin-top: 35px;
        margin-left: 50px;
        float: left;
        display: grid;
    }
    &__signup{
        float:right;
        margin-right: 90px;
        margin-top: 25px;
        a{
            color:#f2dfd0;
            font-size: 30px; 
        }
    }
}
.avatar{
    float:right;
    font-size: 30px;
    margin-top: 20px;
    a{
        display: flex;
        h3{
            color:#f2dfd0;
            font-size: 18px; 
            margin-right: 70px;
            margin-top: 15px;
            font-weight: bold;
        }
    }
}