.main-header{
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	height: 103px;
	&__icon{
		float: left;
		font-size: 30px;
		margin: 20px;
		a{
			display: flex;
			h5{
				color: black;
				font-size: 50px;
				margin-left: 15px;
			}
		.logo{
		position: relative;
		width: 120px;
		height: 120px;
		}
		}
	}
	&__search{
		margin-top: 45px;
		margin-left: 20px;
		float: left;
		display: grid;
	}
	&__signup{
		float: right;
		color: black;
		font-size: 20px;
		margin: 35px 20px 20px 20px;
		a{
			color: black;
			font-size: 30px;
		}
	}
}